Package: exposekerneltask
Name: exposekerneltask
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Ilhan Raja
Author: Ilhan Raja
Section: System
Tag: role::hacker
